*{
    margin: 0%;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.headermove{
    display: flex;
    justify-content: center;
}

header{
    position: absolute;
    display: flex;
    padding: 1px;
    width: auto;
    margin-bottom: 2px; 
    /*background-color: ;*/
}

footer{
    padding: 21px;
    width: auto;
    background-color: black;
    margin-top: 2000px;
}

.kkblogoheader{
    display: none;
    width: 55px;
}

.kklogoheader{
    width: 55px;
}

.textalign{
    display: flex;
    height: 60px;
    align-items: center;
    flex-direction: row;

}

.text1{
    
    margin: 20px;
    color: white;
}

.imagecontentbox{
    display: flex;
    height: calc(85vw / (16 / 9));
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
}

.imagecontentbox img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    height: auto;     
    object-fit: cover;    
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.policycontent{
   background-color:white ;
}

.movepolicy{
    display: flex;
    justify-content: center;
}

.textpolicyhead{
    display: flex;
    position: absolute;
    color: black;
    font-size: 35px;
}


.textpolicyhead2{
    display: flex;
    margin-left: 470px;
    color: black;
    font-size: 35px;
}

.policy1{
    display: flex;
    margin-top: 40px;
    height: auto;

}

.policy1 span {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1s ease, transform 1s ease; 
}

.policy1text{
    margin-left: 5px;
    font-size: 25px;
}

.policy1h2text{
    display: block; 
    margin-left: 20px;
}

li{
    list-style-type: none;
}

@media (max-width:1000px) {
    header{
    position: relative;
    display: flex;
    padding: 0px;
    margin-bottom: 0px; 
}
    .textpolicyhead{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 25px;  
    }


    .textalign{
        display: flex;
        height: 40px;
        align-items: center;
        flex-direction: row;

    }
    .text1{
        display: flex;
        font-size: 12px;
        color: black;
    }
    .kklogoheader{
        display: none;
        width: 35px
    }
    .kkblogoheader{
        display: flex;
        width: 35px;
    }
    .textpolicyhead{
        display: flex;
        position: absolute;
        color: black;
        font-size: 25px;
    }
    
}