*{
    margin: 0%;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.headermove{
    display: flex;
    justify-content: center;
}


header{
    display: block;
    padding: 1px;
    width: auto;
    margin-bottom: 2px; 
    /*background-color: ;*/
}

footer{
    padding: 21px;
    width: auto;
    background-color: #29c5f6;
    margin-top: 20px;
}

.footerlogo{
    width: 70px;
}

.adjustfooterlogo{
    display: flex;
    justify-content: center;
}

.kkblogoheader{
    display: flex;
    width: 55px;
}

.kklogoheader{
    display: none;
    width: 55px;
}

.textalign{
    display: flex;
    height: 60px;
    align-items: center;
    flex-direction: row;

}

.text1{
    text-decoration: none;
    margin: 20px;
    color: black;
}

.footertext{
    display: block; 
    margin-left: 26px;
    color: white;
}

.memberjustify {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column; /* Ensure vertical stacking */
    align-items: center; /* Center align horizontally */
}

.member1 {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
}

.headtext{
    font-size: 30px;
}

.justifyprofilel{
    width:200px;
}
.justifyprofilec{
    width: 220px;
}
.justifyprofiler{ 
    width: 200px;
}

.topic{
    display: flex;
    justify-content: center;
}

.topictext{
    font-size: 30px;
    color: rgb(5, 49, 126);
}

li{
    display: inline-block; 
    margin-right: 18px; 
}

.textcenter{
    text-align: center;
}

.roletext{
    font-size: 20px;
}

.member{
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}



.rolemove{
    display: flex;
    justify-content: center;
}

.roleclasstext{
    font-size: 22px;
}

.detialtext{
    font-size: 16px;
}
.linktext{
    color: black;
}
.linktext:hover{
    color: rgb(121, 79, 79);
}

.text1:hover{
    color: rgb(121, 79, 79);
}

.topictext::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 30%; 
    background-color: #29c5f6;
    z-index: -1;
    transform: rotate(-2deg);
    border-radius: 5px;
    height: 50%;
}

.swipe-in {
    animation: swipeInLeft 1s ease-out forwards;
}

@keyframes swipeInLeft {
    from {
        transform: translateX(-100%); 
    }
    to {
        transform: translateX(0); 
    }
}

.topicmove {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; /* Add space below topic */
}

.topictext{
    display: flex;
    position: absolute;
    color: black;
    font-size: 35px;
}

@media (max-width:1200px) {
    header{
    display: flex;
    padding: 0px;
    margin-bottom: 0px; 
    }
    .textpolicyhead{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 25px;  
    }
    .textalign{
        display: flex;
        height: 40px;
        align-items: center;
        flex-direction: row;
    }
    .text1{
        display: flex;
        font-size: 12px;
        color: black;
        text-decoration: none;
    }
    .kkblogoheader{
        display: flex;
        width: 35px;
    } 
    /*at low media screen lcr make it same*/
    .justifyprofilel{
        width:110px;
    }
    .justifyprofilec{
        width:110px;
    }
    .justifyprofiler{ 
        width:110px;
    }
    .member {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 18px;
    margin-bottom: 20px;
    }
    .roleclasstext{
        font-size: 22px;
    }
    .roletext{
        font-size: 20px;
    }
}