*{
    margin: 0%;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.headermove{
    display: flex;
    justify-content: center;
}


header{
    position: absolute;
    display: flex;
    padding: 1px;
    width: auto;
    margin-bottom: 2px; 
    /*background-color: ;*/
}

footer{
    padding: 21px;
    width: auto;
    background-color: #29c5f6;
    margin-top: 20px;
}

.footerlogo{
    width: 70px;
}

.adjustfooterlogo{
    display: flex;
    justify-content: center;
}

.kkblogoheader{
    display: flex;
    width: 55px;
}

.kklogoheader{
    display: none;
    width: 55px;
}

.textalign{
    display: flex;
    height: 60px;
    align-items: center;
    flex-direction: row;

}

.text1{
    text-decoration: none;
    margin: 20px;
    color: black;
}


.policycontent{
    display: flex;
    justify-content: center;
}

.textpolicyhead{
    position: relative;
    display: inline-block;
    font-size: 40px;
    margin-top: 15px;
}

.textpolicyhead::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 30%; 
    background-color: #29c5f6;
    z-index: -1;
    transform: rotate(-2deg);
    border-radius: 5px;
    height: 50%;
}

.swipe-in {
    animation: swipeInLeft 1s ease-out forwards;
}

@keyframes swipeInLeft {
    from {
        transform: translateX(-100%); 
    }
    to {
        transform: translateX(0); 
    }
}

.movepolicy{
    display: flex;
    justify-content: center;
}

.textpolicyhead{
    display: flex;
    position: absolute;
    color: black;
    font-size: 35px;
}


.textpolicyhead2{
    display: flex;
    margin-left: 470px;
    color: black;
    font-size: 35px;
}

.policy1{
    display: flex;
    height: auto;
    margin-top: 20px;
}


.policy1 span {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1s ease, transform 1s ease; 
}

.policy1text{
    margin-left: 5px;
    font-size: 30px;
}

.policy1h1text{
    display: block; 
    margin-left: 20px;
}
.policy1h2text{
    display: block; 
    margin-left: 24px;
}
.policy1h3text{
    display: block; 
    margin-left: 26px;
}

.footertext{
    display: block; 
    margin-left: 26px;
    color: white;
}


li{
    display: inline-block; 
    margin-right: 18px; 
}

.policy1move{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}


.policy2{
    display: flex;
    height: auto;
    margin-top: 20px;
}

.policy2 span {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1s ease, transform 1s ease; 
}

.policy2move{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.policy3{
    display: flex;
    height: auto;
    margin-top: 20px;
}

.policy3move{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.policy3 span {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1s ease, transform 1s ease; 
}


.r3{
    display: none;
}

.policy4{
    display: flex;
    height: auto;
    margin-top: 20px;
}

.policy4move{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.policy4 span {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 1s ease, transform 1s ease; 
}

.policyfull{
    margin-top: 35px;
}

.banner{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.kk7policy{
    width: 300px;
}

@media (max-width:1000px) {
    header{
    position: relative;
    display: flex;
    padding: 0px;
    margin-bottom: 0px; 
    }
    .textpolicyhead{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 25px;  
    }

    .textalign{
        display: flex;
        height: 40px;
        align-items: center;
        flex-direction: row;

    }
    .text1{
        display: flex;
        font-size: 12px;
        color: black;
        text-decoration: none;
    }
    .kklogoheader{
        display: none;
        width: 35px
    }
    .kkblogoheader{
        display: flex;
        width: 35px;
    }
    .textpolicyhead{
        display: flex;
        position: absolute;
        color: black;
        font-size: 22px;
    }
    .policycontent{
        background-color:white ;
        height: 35px;
        margin-bottom: 5px;
     }

    .abouttext{
        display: flex;
        justify-content: center;
        font-size: 20px;
        margin-left: 15px;
    }
    .about1text{
        display: flex;
        justify-content: center; 
        margin-left: 10px;
        font-size: 15px;
    }
    .textcenter{
        text-align: center;
    }
    .r2{
        display: none;
    }
    .r3{
        display: block;
    }
    .policy2{
        display: flex;
        height: auto;
        margin-top: 20px;
    }
    
    .policy{
        display: flex;
        height: auto;
        margin-top: 20px;
    }
    .policy1text{
        font-size: 20px; 
        margin-left: 30px;
    }
    .policy1h1text{
        display: block; 
        margin-left: 20px;
        font-size: 15px;
    }
    .policy1h2text{
        display: block; 
        font-size: 15px;
        text-align: center;
    }
    .policy1h3text{
        display: block; 
        font-size: 15px;
        text-align: center;
    }
    .policy1{
        display: flex;
        height: auto;
        margin-top: 0px;
    }
    .policyalign{
        text-align: center;
    }
    .justifyannouncement{
        position: relative;
        display: inline-block;
        margin-top: 15px;
        font-size: 22px;
    }
    .policy1move{
        margin-bottom: 0px;
    }
    .banner{
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }
    .footertext{
        display: block; 
        margin-left: 26px;
    }
    .atext{
        text-decoration: none;
    }
}